<header>
<div class="hero">
    <section class="layout">
    <div class="branding">

        <a href="/">
        <img src="/images/misc/logo.jpg" alt="roux academy"</a>
        </div>   <!--branding-->
    </section>   <!--layout-->
    </div>       <!--hero-->
    
    <div class= "navigation">
     <section class="layout">
        <ul class="nav">
         <li><a href="/"><i class="icon-home"></i> home</a></li>
        <li><a href ="/speakers"><i class="icon-user"></i> speakers</a></li>
         </ul>   <!--nav-->
        </section>  <!--layout-->
    </div >          <!--navigation-->   
</header>